/** CSS for the back jack board */

body{
    background-color: darkgreen;
}

h1 {
    text-align: center;
    font-family: "Constantia";
    color: white;
    text-shadow: 2px 2px black;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-font-family:'Helvetica Neue', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-border-radius: 20px;
    -fx-max-width: 10000px; /* BIG VALUE */
}

